<section class="content">
    <div class="block-content" *ngIf="data.length!==0">
      <h3 class="block-title">Mi Blog</h3>
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="post" *ngFor="let post of data">
            <div class="post-thumbnail">
              <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="{{post.link}}"
                  allowfullscreen></iframe> 
              </div>
            </div>
            <div class="post-title">
              <a href="#">
                <h2>{{post.titulo}}</h2>
              </a>
              <p class="post-info">
                <span class="post-author">Realizado por {{post.autor}}</span>
                <span class="slash"></span>
                <span class="post-date">{{post.fecha}}</span>
                <span class="slash"></span>
                <span class="post-catetory">{{post.categoria}}</span>
              </p>
            </div>
            <div class="post-body">
              <a class="btn" target="_blank" href="{{post.link}}">Ver Mas</a>
            </div>
          </div>

        </div>
      </div>
    </div>





    <div class="block-content" *ngIf="data.length==0">
      <h3 class="block-title">Mi Blog</h3>
      <div class="row">
        <div class="col-md-10 mx-auto">
          Todavia no Hay nada en este Blog
        </div>
      </div>
    </div>
  </section>