<section class="content">
  <div class="block-content">
    <h3 class="block-title">Portafolio</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <span>Filters :</span>
          <ul class="filters-containt">
            <li class="active" id="all">All</li>
            <li *ngFor="let item of menu" id={{item}}>{{item}}</li>
          </ul>
        </div>
        <div class="portfolio-container row isotope" id="portfolio-container">
          <!-- WORK 1 START -->
          <ng-container *ngFor="let proyect of data.proyectos">
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item {{proyect.filtro}}">
              <a class="open-project" href="{{proyect.href}}" (click)="emit(proyect.data)">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>{{proyect.data.nombre | uppercase}}</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="{{proyect.data.imagenes[0]}}" alt="{{proyect.alt}}">
                </div>
              </a>
            </div>
          </ng-container>
          
          <!-- WORK 1 END -->

          <!-- <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
              <a class="open-project" href="project-2.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>NOTES</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/002.png" alt="">
                </div>
              </a>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
              <a class="open-project" href="project-3.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>TIMES</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/003.jpeg" alt="">
                </div>
              </a>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
              <a class="open-project" href="project-4.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>STATIONARY</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/004.jpeg" alt="">
                </div>
              </a>
            </div>
   
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
              <a class="open-project" href="project-5.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>PH.D</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/005.jpeg" alt="">
                </div>
              </a>
            </div>
          
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
              <a class="open-project" href="project-6.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>WAG MAGAZINE</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/006.jpeg" alt="">
                </div>
              </a>
            </div>
         
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
              <a class="open-project" href="project-1.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>LOOK</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/007.jpeg" alt="">
                </div>
              </a>
            </div>
      
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
              <a class="open-project" href="project-2.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>IPAD</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/008.jpeg" alt="">
                </div>
              </a>
            </div>
         
            
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
              <a class="open-project" href="project-1.html">
                <div class="portfolio-column">
                  <div class="portfolio-hover">
                    <div class="portfolio-content">
                      <h2>PAPER MOCKUP</h2>
                      <hr>
                      <p>View details.</p>
                    </div>
                    <div class="portfolio-overlay"></div>
                  </div>
                  <img src="../assets/images/portfolio/masonry/009.jpeg" alt="">
                </div>
              </a>
            </div> -->

        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn uppercase contact menu-item">Contactar</a>
    </div>
  </div>
</section>